@import "../fonts/font.css";

body {
    width: 100vw;
}

.header-container{
    margin-bottom: 7.18vh;
}
.title {
    font-size: 3.75vh;
}
.header {
    background: url('../images/mobile/backgrounds/HeaderBG.png');
    height: 100vh;
    width: auto;
    max-width: 100%;
    background-size: cover;
    position: relative;
}
.header__button-down {
    display: none;
}
.header-circle__item_blue {
    width: 21.86vw;
    aspect-ratio: 1;
    top: 11.09vh;
    left: 36.26vw;
}
.header-circle__item_green {
    width: 41.6vw;
    aspect-ratio: 1;
    top: 64.53vh;
    left: 54.66vw;
}
.header-circle__item_white {
    width: 89.6vw;
    aspect-ratio: 1;
    top: 24.21vh;
    left: -10.93vw;
}
.header-circle__name-company {
    top: 9.06vh;
    left: 18.93vw;
}
.logo__name-company {
    width: 23.46vw;
    height: 5.46vh;
}
.header__description {
    font-size: 1.87vh;
    top: 29.87vh;
    left: 19.46vw;
    width: 50.4vw;
}
.header__description_green {
    font-size: 3.75vh;
    top: 14.86vh;
    left: 18.93vw;
    width: 50.93vw;
}
.header-circle__button {
    top: 39.87vh;
    left: 18.93vw;
    width: 43.73vw;
    font-size: 1.87vh;
}
.container {
    width: 80.8vw;
    margin: 0 auto;
}
.section {
    margin-bottom: 7.34vh;
}
.description__title {
    font-size: 3.75vh;
    width: 68.26vw;
}
.description__text {
    font-size: 2.18vh;
    width: 71.2vw;
    margin-bottom: 6.09vh;
}
.description__image {
    position: static;
    width: 77.3vw;
    height: 29.21vh;
    margin-bottom: 0;
}

/* ВСе стало лучше  */
.section-become-better {
    height: 96.87vh;
}
.title__become-better  {
    color: #82B428;
    width: 50.26vw;
}
.tile_slide1 {
    background: url('../images/mobile/slider-better.png');
    background-size: cover;
    width: 81vw;
    height: 74.12vh;
}
.tile_slide2 {
    background: url('../images/mobile/slider-better.png');
    background-size: cover;
    width: 81vw;
    height: 74.12vh;
}
.tile_slide3 {
    background: url('../images/mobile/slider-better.png');
    background-size: cover;
    width: 81vw;
    height: 74.12vh;
}
.tile_slide4 {
    background: url('../images/mobile/slider-better.png');
    background-size: cover;
    width: 81vw;
    height: 74.12vh;
}
.tile_slide5 {
    background: url('../images/mobile/slider-better.png');
    background-size: cover;
    width: 81vw;
    height: 74.12vh;
}
.tile_slide6 {
    background: url('../images/mobile/slider-better.png');
    background-size: cover;
    width: 81vw;
    height: 74.12vh;
}
.tile__slides {
    position: absolute;
}
.tiles__title-become-better {
    font-size: 3.75vh;
    width: 49vw;
    height: 7vh;
    text-align: left;
    padding-left: 4vw;
    top: 54vh;
}
.tile__slides {
    opacity: 0;
    transition: opacity ease-in-out .5s;
}
.tiles__controls {
    position: absolute;
}
#tiles-slide1:checked ~ .tiles__controls > .tiles__control:nth-of-type(1),
#tiles-slide2:checked ~ .tiles__controls > .tiles__control:nth-of-type(2),
#tiles-slide3:checked ~ .tiles__controls > .tiles__control:nth-of-type(3),
#tiles-slide4:checked ~ .tiles__controls > .tiles__control:nth-of-type(4),
#tiles-slide5:checked ~ .tiles__controls > .tiles__control:nth-of-type(5),
#tiles-slide6:checked ~ .tiles__controls > .tiles__control:nth-of-type(6) {
    background: #2DA3DC;
}

#tiles-slide1:checked ~ .tiles__display > .tiles__slider > .tile_slide1,
#tiles-slide2:checked ~ .tiles__display > .tiles__slider > .tile_slide2,
#tiles-slide3:checked ~ .tiles__display > .tiles__slider > .tile_slide3,
#tiles-slide4:checked ~ .tiles__display > .tiles__slider > .tile_slide4,
#tiles-slide5:checked ~ .tiles__display > .tiles__slider > .tile_slide5,
#tiles-slide6:checked ~ .tiles__display > .tiles__slider > .tile_slide6{
    opacity: 1;
    z-index: 1;
}
.tile__slides:hover .tile__slider_gradient .tiles__description {
    display: none;
}
.tile__slides:hover .tile__slider_gradient {
    background: none;
}
.tiles {
    position: relative;
}
.tiles__control-become-better {
    position: absolute;
    top: 80vh;
    left: 25vw;
}
/* Квартиры для яркой жизни */
.section-floor-for {
    height: 104vh;
}
.plan-slides_size {
    height: 96vh;
    width: 80vw;
    border-radius: 50px;
}
.plan-slide1 {
    background: url('../images/mobile/backgrounds/plan-slide-background.png');
    background-size: cover;
}
.plan-slide2 {
    background: url('../images/mobile/backgrounds/plan-slide-background.png');
    background-size: cover;
}
.plan-slide3 {
    background: url('../images/mobile/backgrounds/plan-slide-background.png');
    background-size: cover;
}
.plan-slide4 {
    background: url('../images/mobile/backgrounds/plan-slide-background.png');
    background-size: cover;
}
.plan__title_fsize {
    font-size: 2.8vh;
    width: 53.6vw;
    margin: 3vh auto;

}
.plan__description_fsize {
    font-size: 1.95vh;
    width: 53.6vw;
    margin: 0 auto;
    text-align: center;
}
.plan__preview {
    left: 0;
    width: 58.4vw;
    margin: 0 auto;
    position: static;
    padding-top: 5vh;
}
.plan__preview > img {
    height: 29.21vh;
    width: 65.86vw;
    position: static;
}
.plan__preview_container {
    position: static;
}
.plan__preview_container > button {
    font-size: 2.18vh;
    width: 47.2vw;
    position: absolute;
    top: 60vh;
    left: 16.5vw;
}
.plan__count {
    display: none;
}
.plan-slides > hr {
    top: 67vh;
    left: 12vw;
    width: 57.86vw;
}
.plan__info {
    display: none;
}
/* Второй плиточный слайдер */
.tiles__title-exmple {
    font-size: 3.75vh;
    text-align: center;
}
.tile_slide1-second {
    background: url('../images/mobile/slider3.png');
    background-size: cover;
}
.tile_slide2-second {
    background: url('../images/mobile/slider3.png');
    background-size: cover;
}
.tile_slide3-second {
    background: url('../images/mobile/slider3.png');
    background-size: cover;
}
.tile__slides_mobile {
    width: 80.26vw;
    height: 96.56vh;
    border-radius: 50px;
    position: absolute;
    top: 8vh;
    opacity: 0;
    transition: opacity ease-in-out .5s;
}
.tiles__third-elem {
    position: relative;
    height: 120vh;
}

.tiles__controls-third{
    position: absolute;
    left: 25.9vw;
    width: 8.5vh;
    top: 108vh;
    left: 35.7vw;
}
.tiles__control {
    content: " ";
    display: inline-block;
    height: 1.56vh;
    aspect-ratio: 1;
    border-radius: 50%;
    position: relative;
    transition: background ease-in-out .5s;
    background: #E5E5E5;
}
.tiles__control:not(:last-child) {
    margin-right: 2.5vw;
}

#tiles-slide1-second:checked  ~ .tiles__controls-third > .tiles__control:nth-of-type(1),
#tiles-slide2-second:checked  ~ .tiles__controls-third > .tiles__control:nth-of-type(2),
#tiles-slide3-second:checked  ~ .tiles__controls-third > .tiles__control:nth-of-type(3) {
    background: #2DA3DC;
}

#tiles-slide1-second:checked ~.tiles__display > .tiles__slider > .tile_slide1-second,
#tiles-slide2-second:checked ~.tiles__display > .tiles__slider > .tile_slide2-second,
#tiles-slide3-second:checked ~.tiles__display > .tiles__slider > .tile_slide3-second{
    opacity: 1;
    z-index: 1;
}

/* Квартиры с чистовой отделкой */
.view-floor {
    background: url('../images/mobile/checkfloor.png');
    background-size: cover;
    height: 95.78vh;
    width: 80.26vw;
    border-radius: 50px;
}
.view-floor__title {
    font-size: 5.62vh;
    top: 8.9vh;
    left: 7.73vw;
    text-align: center;
    width: 68.6vw;
    text-transform: uppercase;
}
.view-floor__button {
    font-size: 3.12vh;
    left: 3.2vw;
    top: 85.31vh;
    width: 73.3vw;
}
/* Прекрасный в деталях */
.title__microcity,
.button__more {
    display: none;
}
.section-slider-city {
    height: 100vh;
    width: 80vw;
}
.tile_slide1-microcity {
    background: url('../images/mobile/info-about-city-slider.png');
    background-size: cover;
    height: 94vh;
    width: 100vw;
}
.tile_slide2-microcity {
    background: url('../images/mobile/info-about-city-slider.png');
    background-size: cover;
    height: 94vh;
    width: 100vw;
}
.tile_slide3-microcity {
    background: url('../images/mobile/info-about-city-slider.png');
    background-size: cover;
    height: 94vh;
    width: 100vw;
}
.tile_slide4-microcity {
    background: url('../images/mobile/info-about-city-slider.png');
    background-size: cover;
    height: 94vh;
    width: 100vw;
}
.tile_slide5-microcity {
    background: url('../images/mobile/info-about-city-slider.png');
    background-size: cover;
    height: 94vh;
    width: 100vw;
}
.tile_slide6-microcity {
    background: url('../images/mobile/info-about-city-slider.png');
    background-size: cover;
    height: 94vh;
    width: 100vw;
}
.tile_slide7-microcity {
    background: url('../images/mobile/info-about-city-slider.png');
    background-size: cover;
    height: 94vh;
    width: 100vw;
}
.tile_slide8-microcity {
    background: url('../images/mobile/info-about-city-slider.png');
    background-size: cover;
    height: 94vh;
    width: 100vw;
}
.tile_slide9-microcity {
    background: url('../images/mobile/info-about-city-slider.png');
    background-size: cover;
    height: 94vh;
    width: 100vw;
}
.tiles__slider_display_block {
    display: block;
}
.tiles__slides_position {
    left: -10vw;
    opacity: 0;
    transition: opacity ease-in-out .5s;
}
.tiles__title_fsize {
    font-size: 3.3vh;
    text-align: center;
    padding-left: 1vw;
}
.tiles__control-microcity {
    left: 16.5vw;
    top: 98vh;
}
#tiles-slide-microcity1:checked ~ .tiles__controls > .tiles__control:nth-of-type(1),
#tiles-slide-microcity2:checked ~ .tiles__controls > .tiles__control:nth-of-type(2),
#tiles-slide-microcity3:checked ~ .tiles__controls > .tiles__control:nth-of-type(3),
#tiles-slide-microcity4:checked ~ .tiles__controls > .tiles__control:nth-of-type(4),
#tiles-slide-microcity5:checked ~ .tiles__controls > .tiles__control:nth-of-type(5),
#tiles-slide-microcity6:checked ~ .tiles__controls > .tiles__control:nth-of-type(6),
#tiles-slide-microcity7:checked ~ .tiles__controls > .tiles__control:nth-of-type(7),
#tiles-slide-microcity8:checked ~ .tiles__controls > .tiles__control:nth-of-type(8),
#tiles-slide-microcity9:checked ~ .tiles__controls > .tiles__control:nth-of-type(9) {
    background: #2DA3DC;
}
#tiles-slide-microcity1:checked ~.tiles__display > .tiles__slider > .tile_slide1-microcity,
#tiles-slide-microcity2:checked ~.tiles__display > .tiles__slider > .tile_slide2-microcity,
#tiles-slide-microcity3:checked ~.tiles__display > .tiles__slider > .tile_slide3-microcity,
#tiles-slide-microcity4:checked ~.tiles__display > .tiles__slider > .tile_slide4-microcity,
#tiles-slide-microcity5:checked ~.tiles__display > .tiles__slider > .tile_slide5-microcity,
#tiles-slide-microcity6:checked ~.tiles__display > .tiles__slider > .tile_slide6-microcity,
#tiles-slide-microcity7:checked ~.tiles__display > .tiles__slider > .tile_slide7-microcity,
#tiles-slide-microcity8:checked ~.tiles__display > .tiles__slider > .tile_slide8-microcity,
#tiles-slide-microcity9:checked ~.tiles__display > .tiles__slider > .tile_slide9-microcity {
    opacity: 1;
    z-index: 1;
}

/* Скидки для своих */
.discount {
    background: url('../images/mobile/backgrounds/Яркая\ жизнь\ в\ 15\ минутах\ от\ центра4\ 1.png');
    height: 99.84vh;
    background-size: cover;
}
.discount__title {
    width: 42.26vw;
}
.discount__description {
    font-size: 2.81vh;
    width: 67.46vw;
}
.button__discount {
    position: absolute;
    width: 49.6vw;
    font-size: 2.81vh;
    top: 45.46vh;
}
.discount-application {
    width: 80vw;
    height: 40vh;
    left: 5vw;
}
.discount-application__title {
    width: 60vw;
}
.discount-application__form {
    width: 60vw;
    left: 5vw;
}
.input {
    width: 60vw;
    font-size: 2.81vh;
}
.button_color_blue {
    font-size: 2.81vh;
    width: 35vw;
}
.input-form__checkbox {
    font-size: 2vh;
    width: 70vw;
}
/* Просто переезжаете */
.easy-move__description {
    font-size: 2.81vh;
    width: 70.91vw;
    position: relative;
}
.easy-move-container {
    height: 96.93vh;
}
.easy-move__description_down {
    position: absolute;
    top: 60.55vh;
    width: 70.31vw;
    left: 0;
}
.easy-move__picture {
    position: absolute;
    width: 100vw;
    height: 39.21vh;
    left: -10vw;
    top: 31.31vh;
}
/* Хочу жить в ... */
.wantlive {
    background: url('../images/mobile/backgrounds/WantLIveToMicrocity.png');
    height: 100vh;
    background-size: cover;
}
.wantlive-container {
    position: relative;
}
.wantlive-input {
    position: absolute;
    left: 0;
    top: 34.53vh;
}
.wantlive-input__name,
.wantlive-input__phone {
    left: 0;
    width: 80vw;
}
.wantlive__title title,
.wantlive__description {
    position: absolute;
}
.button-send {
    font-size: 2.81vh;
    width: 49.6vw;
    left: 0;
}
.wantlive__title {
    width: 63.7vw;
    top: 63.18vh;
}
.wantlive__description {
    width: 70vw;
    top: 73vh;
    font-size: 2.81vh;
}
/* footer */
.footer {
    height: 56.4vh;
}
.container-footer {
    padding: 5.15vh 0;
}
.footer-logo,
.socials,
.footer-data,
.phone,
.info-worker,
.footer-politics {
    position: static;
}
.footer-info {
    position: relative;
}
.footer-logo {
    width: 32.8vw;
    margin: 0 28% 9vh;
}
.socials {
    transform: scale(2);
    position: absolute;
    top: -5vh;
    left: 11vw;
    margin: 0 25%;
}
.socials__link {
    width: 10vh;
    aspect-ratio: 1;
}
.phone {
    font-size: 2.06vh;
}
.info-worker,
.footer-politics {
    font-size: 1.56vh;
}
.info-worker {
    width: 65.6vw;
    margin: 15vh auto 5vh;
}
.footer-partner__logo {
    top: 28.59vh;
    left: 26.86vw;
}
.footer-logo,
.footer-partner__logo{
    transform: scale(1);
}